@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");

.card_blog {
	background-color: #eceff1;
	border-radius: 30px;
	text-align: center;
	padding: 15px;
	max-width: 500px;
	margin: 25px auto;

	img{
		max-width: 100%;
		max-height: 50%;
	}

	h3 {
		font-family: "Fredoka", sans-serif;
		font-size: 2rem;
		line-height: 2.2rem;
		color: #eceff1;
		font-weight: bold;
		margin: 0;
	}
	p {
		font-family: "Fredoka", sans-serif;;
		font-size: 1rem;
		line-height: 1.3rem;
		margin: 15px auto;
		max-width: 80%;
	}
	button {
		font-family: "Fredoka", sans-serif;;
		font-size: 1.1rem;
		font-weight: bold;
		padding: 15px 80px;
		border-radius: 25px;
		color: white;
		border: 0;
		margin: 30px 0;
		outline: none;
		background-color: #81c784;
		transition: ease all 0.3s;
		cursor: pointer;
	}
}
