@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

/* CREATING POST */

#form_header {
  position: relative;
  margin: 50px 0 25px 0;
  font-size: clamp(1.5rem, 5vw, 2.3em);
  text-align: center;
  letter-spacing: 0.2em;
  padding: 0 15px;
  word-wrap: break-word;
}

#create_form {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: 30px auto 50px auto;
  padding: 0 15px;
  box-sizing: border-box;
}

#create_form input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

#create_form textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

#submit {
  width: 100%;
  padding: 15px 0;
  margin: 0;

  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #b3aca7;

  outline: none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;

  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

#submit:hover {
  color: #e2dedb;
  background: #b3aca7;
}