/* HEADER */
header{
    position: sticky;
    top:0;
    z-index: 1000;
    padding:10px;
}
.header_logo{
    height: 64px;
    width: 64px;
}

/* CONTENT */
body{
    margin:0;
}

*, *:before, *:after{
    box-sizing: border-box;
}

.page{
    overflow: hidden;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    max-width: 100vh;
    margin:0 auto;
    padding: 40px 20px;
    flex:1 1 auto;
}