{% extends 'base.html' %}

{% block title %}
About page title
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
<div class="card_blog">
	<img src="{{ url_for('static', filename='img/main_icon.png')}}">
	<h3>Описание проекта</h3>
	<p>Данный проект, написанный на Flask является одним из моих учебных проектов.</p>
    <p>В ходе проекта была реализована JWT авторизация для доступа к определенным ресурсам, а также подключена база данных SQLite.</p>
    <p>Исходный код данного проекта был поделен на несколько логических модулей для лучшей масштабируемости.</p>
	<a href="https://github.com/suzvasilii/"><button>Посмотрите и другие проекты на моем Github</button></a>
</div>
{% endblock %}