{% extends 'base.html' %}

{% block title %}
About page title
{% endblock %}

{% block content %}
<p>
    Данное вэб-приложение является моим учебным проектом на Flask.
    В исходном коде для лучшей масштабируемости приложение разделено на несколько модулей.
</p>
<p>
    В ходе разработки была подключена JWT-авторизация для доступа к опеределенным данным.
    Также было реализовано подключение к базе данных SQLite, которая использовалась как источник данных для рендера контента
</p>
<p>
    Спасибо, что зашли почитать, посмотрите и другие мои проекты на моем <a href="https://github.com/suzvasilii/">github</a>
</p>
{% endblock %}