{% extends 'base.html' %}

{% block title %}
Index page title
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    {% if context.is_authorized %}
        <div class="index_wrapper">
		 <div class="firework"></div>
         <div class="firework"></div>
         <div class="firework"></div>
        <div class="index_card">
            <h3>Привет, {{ context.email }}!</h3>
	        <p>Теперь ты можешь пользоваться всеми функиями этого приложения</p>
            <a href="{{ url_for('create') }}"><button>Можешь создать новый пост</button></a>
        </div>
        </div>
    {% else %}
    Пожалуйста авторизуйтесь или зарегистрируйтесь!
    {% endif %}
{% endblock %}