{% extends 'base.html' %}

{% block title %} Посты {% endblock %}

{% block content %}
<form id="search_block" method="post">
  <input type="text" class="form-control search_input"  placeholder="Искать по автору" name="author">
  <input type="text" class="form-control search_input"  placeholder="Искать по заголовку" name="title">
  <a href="{{ url_for('allposts') }}"><button type="submit" class="btn btn-warning">Искать</button></a>
</form>
<div class="all_posts">
{% for post in posts %}
  <div class="card">
    <h2 class="author_name">{{ post.user.email }}</h2>
    <h3 class="blog-title">{{ post.title }}</h3>
    <span class="blog-time">{{ post.created_at }}</span>
    <p class="description">
      {{ post.text }}
    </p>
  </div>
{% endfor %}
</div>
{% endblock %}
